#quiz {
	max-width: 600px;
	direction: rtl;
}
#questionList {
	white-space: nowrap;
}
.quizQuestion {
	position: relative;
	p {
		text-align: center;
		padding: .75rem;
		margin: 5px;
		font-family: 'Droid Arabic Kufi', sans-serif;
		white-space: normal;
	}
	.questionTitle {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		text-align: center;
		margin-top: 10px;
		color: white;
		background-color: rgba(0,0,0,.5);
	}
	.questionOptions {
		padding: 0;
		margin-top: 1rem;
		list-style-type: none;
		clear: right;
		& li {
			float: left;
			position: relative;
			margin-bottom: 1rem;
			background-color: #f7f7f7;
			border: 2px solid #ebebeb;
			cursor: pointer;
			&:hover {
				background-color: #fff195;
			}
		}
		.questionOption {
			margin-top: 5px;
			height: 20px;
			width: 20px;
		}
	}
	li.selected,
	li.selected:hover {
		background-color: #bed5ed;
	}
	.answered li:not(.selected) {
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}
}
.source {
	float: right;
	font-size: .75em;
	color: #999;
	padding: 3px;
	.credit::after {
		content: " / "
	}
}
.quizResult {
	border: 2px solid #ebebeb;
	*:not(span) {
		padding: 5px;
	}
	.quizTitle {
		font-size: 1em;
		color: #999;
		font-family: 'Droid Arabic Kufi', sans-serif;
	}
	.resultTitle {
		margin: 0;
	}
	.resultImage {
		float: right;
	}
	.source,
	.shareResult {
		clear: right;
	}
	.shareResult {
		border-top: 2px solid #ebebeb;
		p {
			margin-top: 0;
		}
	}
	button {
		display: inline-block;
		height: 30px;
		width: 100px;
		border-radius: 0;
		color: white;
		border: 0;
		float: left;
		font-size: 1.25rem;
		i {
			padding: 0;
			float: left;
		}
	}
	.facebookQuizShare {
		margin: 0 15px 10px 10px;
	}
}
